/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}*/

.navbar-brand {
    padding: 0px;
}

    .navbar-brand > img {
        height: 100%;
        padding: 5px;
        width: auto;
    }

.col-centered {
    float: none;
    margin: 0 auto;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.loginbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.table tbody > tr > td.vert-align {
    vertical-align: middle;
}

.table > thead > tr > th.highlight {
    background-color: #337ab7 !important;
    color: white !important;
}

.breadcrumb > li + li:before {
    content: "\00BB";
    color: #aaa;
}

.logo img {
    width: 100% \9; /*Force IE10 and below to size SVG images correctly*/
    max-width: 100%;
}

@media (max-width:6000px) {
    .logo img {
        width: 30% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 30% !important;
    }
}

@media (max-width:480px) {
    .logo img {
        width: 70% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 70% !important;
    }
}

@media (max-width:400px) {
    .logo img {
        width: 75% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 75%;
    }
}

@media (max-width:385px) {
    .logo img {
        width: 70% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 70%;
    }
}

@media (max-width:345px) {
    .logo img {
        width: 65% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 65%;
    }
}

@media (max-width:335px) {
    .logo img {
        width: 60% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 60%;
    }
}

@media (max-width:325px) {
    .logo img {
        width: 55% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 55%;
    }
}

@media (max-width:315px) {
    .logo img {
        width: 50% \9; /*Force IE10 and below to size SVG images correctly*/
        max-width: 50%;
    }
}

.has-feedback .form-control {
    padding-right: 34px;
}

    .has-feedback .form-control.input-sm,
    .has-feedback.form-group-sm .form-control {
        padding-right: 30px;
    }

    .has-feedback .form-control.input-lg,
    .has-feedback.form-group-lg .form-control {
        padding-right: 46px;
    }

.has-feedback-left .form-control {
    padding-right: 12px;
    padding-left: 34px;
}

    .has-feedback-left .form-control.input-sm,
    .has-feedback-left.form-group-sm .form-control {
        padding-left: 30px;
    }

    .has-feedback-left .form-control.input-lg,
    .has-feedback-left.form-group-lg .form-control {
        padding-left: 46px;
    }

.has-feedback-left .form-control-feedback {
    left: 0;
}

.form-control-feedback {
    line-height: 34px !important;
}

.input-sm + .form-control-feedback,
.form-horizontal .form-group-sm .form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px !important;
}

.input-lg + .form-control-feedback,
.form-horizontal .form-group-lg .form-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px !important;
}

.has-feedback label.sr-only ~ .form-control-feedback,
.has-feedback label.sr-only ~ div .form-control-feedback {
    top: 0;
}

@media (min-width: 768px) {
    .form-inline .inline-feedback {
        position: relative;
        display: inline-block;
    }

    .form-inline .has-feedback .form-control-feedback {
        top: 0;
    }
}

.form-horizontal .has-feedback-left .form-control-feedback {
    left: 15px;
}

.white, .white a {
    color: #fff;
}


.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

/*table cell word wrap*/
.table tbody > tr > td.wordwrap {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/*legend a {
  color: inherit;
}
legend.legendStyle {
padding-left: 5px;
padding-right: 5px;
}
fieldset.fsStyle {
font-family: Verdana, Arial, sans-serif;
font-size: small;
font-weight: normal;
border: 1px solid #999999;
padding: 4px;
margin: 5px;
}
legend.legendStyle {
font-size: 90%;
color: #888888;
background-color: transparent;
font-weight: bold;
}

legend {
width: auto;
border-bottom: 0px;
}*/
