@using CoolPrivilegeControlLangPack
@using UI_Infrastructure.CustomHtmlHelper
@using UI_Infrastructure.ViewModels

@{
    ViewBag.Title = @Html.MultilingualHtml("StaffInfoManage");
    Layout = "~/Areas/AccessControl/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>

