@using CoolPrivilegeControlVM.EntityVM
@using CoolPrivilegeControlLangPack
@using UI_Infrastructure.CustomHtmlHelper

@{
    ViewBag.Title = @Html.MultilingualHtml("MaintainSalaryInfo");
    Layout = "~/Areas/AccessControl/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>