@{
    ViewBag.Title = "NotFound";
    Layout = "~/Areas/AccessControl/Views/Shared/_ErrorLayout.cshtml";
}

<div class="jumbotron">
    <h2>Page No Found</h2>
    <h4>Please click <a href="@Url.Action("Index", "Login", new { area = "AccessControl" })" class="btn btn-default">here</a> to go back to the login page.</h4>
</div>
